@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.prose [style*="text-align: center"] {
  text-align: center;
}

.prose [style*="text-align: right"] {
  text-align: right;
}

.prose [style*="font-family"] {
  font-family: inherit;
}

@theme {
  --color-primary: #0077B3;
  --color-secondary: #A3D1E0;
  --color-tertiary: #D1E8E2;
  --color-danger: #F44336;
  --color-success: #00bc7d;

  --animate-fade-in-scale: fade-in-scale 0.5s ease-in-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.animate-fade-in-scale {
  animation: var(--animate-fade-in-scale);
}

body {
  font-family: "inter", sans-serif;
}

/* Animasi Hover button */
.hoverAnimation {
  transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.hoverAnimation:hover {
  transform: scale(1.02);
  background-color: #0077B3;
  color: white;
}

.hoverAnimation2 {
  transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.hoverAnimation2:hover {
  transform: scale(1.02);
  background-color: #F44336;
  color: white;
}

.hoverAnimation3 {
  transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.hoverAnimation3:hover {
  transform: scale(1.02);
  background-color: #00bc7d;
  color: white;
}

.hoverAnimation4 {
  transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.hoverAnimation4:hover {
  transform: scale(1.02);
  background-color: #6a7282;
  color: white;
}

.hoverAnimation5 {
  transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.hoverAnimation5:hover {
  transform: scale(1.02);
  background-color: oklch(83.7% 0.128 66.29);
  color: white;
}

/* Animasi hover underline */
.underline-hover {
  @apply relative p-1 text-[#303030];
}

.underline-hover::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: #0077B3;
  transition: width 0.3s ease;
}

.underline-hover:hover::after {
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* Scroll Bar CSS */
::-webkit-scrollbar {
  width: 18px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #0077B3;
  border-radius: 20px;
  border: 7px solid transparent;
  background-clip: content-box;
}